@model Repository.Models.BlogTagRelate
@{
    ViewData["Title"] = "Edit";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Bloq təq düzəlişi</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="BlogId">Bloq</label>
                    <select asp-for="BlogId">
                        <option selected disabled>Seçin</option>
                        @foreach (var item in ViewBag.Blogs)
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    </select>
                    <span class="field-validation-valid" asp-validation-for="BlogId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlogTagId">Bloq təq</label>
                    <select asp-for="BlogTagId">
                        <option selected disabled>Seçin</option>
                        @foreach (var item in ViewBag.BlogTags)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span class="field-validation-valid" asp-validation-for="BlogTagId"></span>
                </div>
                <div class="form-group d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span class="text">Düzəliş</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

@section Scripts{
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
