
@{
    ViewData["Title"] = "SuccessPage";
}

<h1 class="mt-3 mb-3">Təbriklər İsmarıcınız uğurla göndərildi</h1>
<div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>
    <p>Sizin ismarıcınız göndərildi;<br /> sizinlə tezliklə əlaqə yaradılacaq!</p>
</div>

@section Head{
    <!-- SPECIFIC CSS -->
    <link href="~/css/stylesbd04.css" rel="stylesheet">
    <link href="~/css/Success.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
}