@model Repository.Models.PropDetail
@{
    ViewData["Title"] = "Edit";
}


<!-- Begin Page Content -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Detal düzəlişi</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Key">Detal</label>
                    <input class="form-control form-control-user slug-source" asp-for="Key">
                    <span class="field-validation-valid text-danger" asp-validation-for="Key"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value">Detal haqqında</label>
                    <input class="form-control form-control-user slug-source" asp-for="Value">
                    <span class="field-validation-valid text-danger" asp-validation-for="Value"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyId">Əmlak</label>
                    <select asp-for="PropertyId">
                        <option selected disabled>Seçin</option>
                        @foreach (var item in ViewBag.Properties)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span class="text">Düzəliş et</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

@section Scripts{
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}