@{
    ViewData["Title"] = "Home Page";
}


<!-- CAROUSEL -->
<div class="slider-container">
    <div class="container-slider-image-full  ">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators d-none">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <vc:slider></vc:slider>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span> -->
            <span class="carousel-control-nav-prev">
                <i class="fa fa-2x fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span> -->
            <span class="carousel-control-nav-next">
                <i class="fa fa-2x fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<div class="clearfix"></div>
<!-- END CAROUSEL -->
<div class="clearfix"></div>
<div class="search__area bg-light">
    <div class="container">
        <div class="search__area-inner">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-3">
                    <div class="form-group">
                        <select class="wide select_option">
                            <option data-display="Property Status">Property Status</option>
                            <option>For Sale</option>
                            <option>For Rent</option>

                        </select>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-3">
                    <div class="form-group">
                        <select class="wide select_option">
                            <option data-display="Property Type">Property Type</option>
                            <option>Residential</option>
                            <option>Commercial</option>
                            <option>Land</option>
                            <option>Luxury</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-3">
                    <div class="form-group">
                        <select class="wide select_option">
                            <option data-display="Area From">Area From </option>
                            <option>1500</option>
                            <option>1200</option>
                            <option>900</option>
                            <option>600</option>
                            <option>300</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-3">
                    <div class="form-group">
                        <select class="wide select_option">
                            <option data-display="Locations">Locations</option>
                            <option>United Kingdom</option>
                            <option>American Samoa</option>
                            <option>Belgium</option>
                            <option>Canada</option>
                            <option>Delaware</option>
                            <option>Indonesia</option>
                            <option>Malaysia</option>
                            <option>Japan</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-3">
                    <div class="form-group">
                        <select class="wide select_option">
                            <option data-display="Bedrooms">Bedrooms</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-3">
                    <div class="form-group">
                        <select class="wide select_option">
                            <option data-display="Bathrooms">Bathrooms</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>


                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-3">
                    <div class="form-group">
                        <div class="filter__price">
                            <input class="price-range" type="text" name="my_range" value="" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-3">
                    <div class="form-group">
                        <button class="btn btn-primary text-uppercase btn-block">
                            search <i class="fa fa-search ml-1"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        Önə çıxan mülklər
                    </h2>
                    <p class="text-center text-capitalize">bizim komanda tərəfindən seçilmiş mülklər.</p>

                </div>
            </div>
        </div>

        <!--=========================================
        =            Section Gallery two            =
        ==========================================-->
        <div class="card__image-filter">
            <div class="filterizr-control">
                <ul class="list-inline filterizr-filter">
                    <li class="list-inline-item filtr-active btn-filter" data-filter="all">Bütün növlər</li>
                    <li class="list-inline-item btn-filter" data-filter="1">Mənzil</li>
                    <li class="list-inline-item btn-filter" data-filter="2">Ev</li>
                    <li class="list-inline-item btn-filter" data-filter="4">Ofis</li>
                </ul>
            </div>
            <div class="row">
                <div class="filtr-container">
                    <vc:property-item></vc:property-item>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>


<!-- MOST POPULAR PLACES -->
<section class="wrap__heading bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        Məşhur şəhərlər
                    </h2>
                    <p class="text-center text-capitalize">Mülkləri bu şəhərlərdə axtar</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <vc:popular-places></vc:popular-places>
    </div>
</section>
<!-- END MOST POPULAR PLACES -->
<!-- VIDEO -->
<section class="home__video bg-theme-v6">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto">
                <div class="home__video-area text-center">
                    <a href="https://www.youtube.com/watch?v=nAyfM_GE118" class="play-video ">
                        <i class="icon fa fa-play text-white"></i>
                    </a>
                    <h2 class="text-white">Ticarət mülkiyyəti üçün 1-ci yer</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END VIDEO -->
<!-- BRAND PARTNER -->
<section class="projects__partner bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">Bizim partnyorlar</h2>
                    <p class="text-center text-capitalize">
                        Marka Tərəfdaşları Uğurlu Layihələr Bir çox Müştərilərə Daşınmaz Əmlaka Etibar
                    </p>
                </div>
            </div>
        </div>
     <vc:partners></vc:partners>
    </div>
</section>
<!-- END BRAND PARTNER -->
<!-- TESTIMONIAL -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        Insanlar nə deyir
                    </h2>
                    <p class="text-center text-capitalize">İnsanların fikirləri</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="testimonial owl-carousel owl-theme">
           <vc:people-says></vc:people-says>
        </div>
    </div>
</section>
<!-- END TESTIMONIAL -->
<!-- BLOG -->
<section class="blog__home bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        Bizim Bloqdan 
                    </h2>
                    <p class="text-center text-capitalize">
                        Dünyanın hər yerindəki daşınmaz əmlak agentliklərini tapın
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <vc:blog-item></vc:blog-item>
        </div>
    </div>
</section>
<!-- END BLOG -->
